.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  .error {
    font-size: 5rem;
    color: #ff0000; // Choisissez votre couleur de texte pour l'erreur
  }

  .errorText {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .errorLink {
    display: inline-block;
    margin-top: 1.5rem;
    text-decoration: none;
    color: #000000; // Choisissez votre couleur de texte pour le lien

    &:hover {
      color: #ff0000; // Choisissez votre couleur de fond au survol
    }
  }
}
