.foodContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  .food-icon {
    width: 60px;
    height: 60px;
  }
  .food-info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;

    .food-value {
      font-size: 20px;
      font-weight: 700;
      color: #282d30;
    }
    .food-name {
      font-size: 14px;
      color: #74798c;
    }
  }
}
