@import "../utils/variables";

nav {
  background-color: $tertiary;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 2em 4em;

    li {
      font-size: 24px;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  nav {
    ul {
      padding: 1em 2em;
      li {
        font-size: 20px;
      }
    }
  }
}
