@import "../utils/variables";

main {
  section {
    .charts {
      .chartsLeft {
        .chartsBottom {
          .performanceChart {
            width: 100%;
            max-width: 350px;
            height: 250px;
            padding: 2%;
            background: #282d30;
          }
        }
      }
    }
  }
}
