@import "pages/login.scss";
@import "pages/home.scss";
@import "components/navbar.scss";
@import "components/sidebar.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
